@model ConsumeAPI.ViewModel.BookingViewModel

@{
    ViewData["Title"] = "Book Room";
}

<div class="container mt-1">
    <div class="card">
        <h2 class="text-center fw-bold text-secondary ">Book a Room</h2>
        <hr />
        <div class="card-body">
            <form id="bookingForm" asp-action="BookRoom" method="post">
                <div asp-validation-summary="All" class="text-danger" data-valmsg-summary="true"></div>

                <div id="step1">
                    <div class="form-group mb-3">
                        <input asp-for="CustomerName" class="form-control" placeholder="Customer Name" required />
                    </div>

                    <div class="form-group mb-3">
                        <input asp-for="NationalID" class="form-control" placeholder="National ID" required />
                    </div>

                    <div class="form-group mb-3">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" type="tel" required />
                    </div>

                    <div class="form-group mb-3">
                        <select asp-for="BranchID" class="form-control" required>
                            <option selected disabled value="">Select a branch</option>
                            @if (ViewBag.HotelBranches != null)
                            {
                                @foreach (var branch in ViewBag.HotelBranches)
                                {
                                    <option value="@branch.ID">@branch.Name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <input asp-for="CheckInDate" class="form-control flatpickr" placeholder="Select Check-In Date" required />
                    </div>

                    <div class="form-group mb-3">
                        <input asp-for="CheckOutDate" class="form-control flatpickr" placeholder="Select Check-Out Date" required />
                    </div>

                    <div class="form-group mb-3">
                        <input asp-for="Rooms" class="form-control" placeholder="Number of Rooms(Maximum 4 here)" type="number" id="numberOfRooms" max="4" required />
                    </div>

                    <button type="button" id="nextButton" class="btn test-btn-">Next</button>
                </div>

                <div id="step2" style="display: none;">
                    <div id="roomDetailsContainer"></div>
                    <button type="button" id="prevButton" class="btn btn-secondary">Previous</button>
                    <button type="button" id="addRoomButton" class="btn btn-secondary">Add Room</button>

                    <input type="submit" value="Book" id="booking-btn" class="book-btn btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
